package {{package}}
{
	import org.aerial.rpc.AbstractVO;
	import {{package}}.*;
	
	[Bindable]	
	public class {{class}} extends AbstractVO
	{		
		public function {{class}}()
		{
			super("{{package}}.{{remoteClass}}");
		}
		
{{privateVars}}{{accessors}}
		
	}
}