package {{package}}
{
	import {{package}}.base.Base{{class}};
	
	[RemoteClass(alias="{{package}}.{{remoteClass}}")]	
	public class {{class}} extends Base{{class}}
	{		
		public function {{class}}()
		{
		}
	}
}