<?php	
	class {{class}}
	{	
		protected $connection;
		protected $table;
		protected $modelName = "{{model}}";
		
		public function __construct()
		{
			$this->connection = Doctrine_Manager::connection();
			$this->table = $this->connection->getTable($this->modelName);
		}

		public function save(${{object}}, $related=null)
		{
			if($related)
				foreach($related as $relation => $descriptor)
				{
					if($descriptor["type"] == "many")
					{
						$relationRef =& ${{object}}->$relation;
						$count = 0;

						foreach($descriptor["value"] as $element)
						{
							$relationRef[$count] = $element;
							if($element["id"])
								$relationRef[$count]->assignIdentifier($element["id"]);
								
							$count++;
						}
					}
					else
					{
						// check for existence of related item
						$testTable = $this->connection->getTable($descriptor["table"]);
						$foreign_key = $descriptor["foreign_key"];
						$test = $testTable->find($descriptor["value"]["$foreign_key"]);
						
						(is_object($test))
						?	${{object}}->$descriptor["local_key"] = $descriptor["value"]["$foreign_key"]
						:	${{object}}->$relation = $descriptor["value"];
					}
				}

			$result = ${{object}}->trySave();
			return ($result === true)
			?   ${{object}}->id
			:   ${{object}}->save();
		}

		public function update(${{object}}_id, $fields)
		{
			$existing = $this->find(${{object}}_id);
			if(!$existing)
				return;

			foreach($fields as $key => $val)
			{
				if($existing->$key != $val)
				{
					if($val != $existing->$key && $val == null)
						continue;

					$existing->$key = $val;
				}
			}

			$result = $existing->trySave();
			return ($result === true)
			?   $existing
			:   $existing->save();
		}

		public function drop(${{object}})
		{
			$existing = $this->find(${{object}}->id);
			if(!$existing)
				return;

			$oldID = $existing->id;
			if($existing->delete())
			    return $oldID;
		}
		
		public function find(${{object}}_id)
		{
			return $this->table->find(${{object}}_id);
		}
		
		public function findByField($field, $value, $paged=false, $limit=0, $offset=0)
		{
			$q = Doctrine_Query::create()
					->select("x.*")
					->where("x.$field = '$value'")
					->from($this->modelName." x");
			
			if($paged)
			{
				if($limit)
					$q->limit($limit);
				if($offset)
					$q->offset($offset);
			}
					
			return $q->execute();
		}
		
		public function findByFields($fields, $values, $paged=false, $limit=0, $offset=0)
		{
			$q = Doctrine_Query::create()
					->select("x.*");
					
			if($fields[0] && $values[0])
				$q->where("x.".$fields[0]." = '".$values[0]."'");
			
			for($x = 1; $x < count($fields); $x++)
				if($values[$x] !== null)
					$q->andWhere("x.".$fields[$x]." = '".$values[$x]."'");
				
			$q->from($this->modelName." x");
				
			if($paged)
			{
				if($limit)
					$q->limit($limit);
				if($offset)
					$q->offset($offset);
			}
					
			return $q->execute();
		}
		
		// get all relations and find related data
		public function findWithRelated(${{object}}_id)
		{
			$relations = array({{relations}});
			$complex = new stdClass();
			
			$record = $this->table->find(${{object}}_id);
			foreach($record as $key => $value)
				$complex->$key = $value;
				
			foreach($relations as $relation)
				$complex->$relation["alias"] = $this->findRelated($relation["alias"], ${{object}}_id, $paged, $limit, $offset);
				
			return $complex;
		}
		
		public function findAllWithRelated($criteria = null)
		{
			$relations = array({{relations}});
				
				
			$q = Doctrine_Query::create()->from('{{model}} y');
			$selectTables = 'y.*';
			
			foreach($relations as $relation)
			{
				$i++;
				if($relation["type"] == "many" )
				{
					$selectTables .= ',z' . $i . '.*';
					$q = $q->leftJoin('y.' . $relation["alias"] . ' z' . $i);
				}
			}
	
			$q = $q->select($selectTables);
			
			if($criteria <> null)
			{
				foreach($criteria as $key=>$value)
				{
					$q = $q->where("y.$key =?", $value);
				}
			}
	
			if($paged)
			{
				if($limit)
				$q->limit($limit);
				if($offset)
				$q->offset($offset);
			}
	
			return $q->execute()->toAmf(true);
			
		}
		
		// get related data for field
		public function findRelated($field, ${{object}}_id, $paged=false, $limit=0, $offset=0)
		{
			//	available relations:
{{availRelations}}
			$rel = $this->table->getRelation($field);
			
			$q = Doctrine_Query::create()
					->select("x.*")
					->from($rel->getClass()." x");
					
			if($rel->getType() == Doctrine_Relation::MANY)
			{
				if(get_class($rel) == Doctrine_Relation_Association)				// if relation is many-to-many
				{
					$foreignTable = $rel->getClass();
					$joining = $rel->getAssociationTable()->getClassnameToReturn();
					
					$q = Doctrine_Query::create()
							->select("x.*")
							->from("$foreignTable x, $joining y")
							->where("y.{$rel->getLocalFieldName()} = ${{object}}_id")
							->andWhere("x.id = y.{$rel->getForeignFieldName()}");

					return $q->execute();
				}
				else	
					$q->where($rel->getForeignFieldName()." = ${{object}}_id");
			}
			else
			{
				$foreignRelations = $this->connection->getTable($rel->getClass())->getRelations();
				$foreignRelation = null;
				
				foreach($foreignRelations as $key => $value)
				{
					if($value->getClass() == $this->modelName)
					{
						$foreignRelation = $value->getAlias();
						break;
					}
				}

				$q->leftJoin("x.$foreignRelation y")
					->where("y.".$rel->getForeign()." = ${{object}}_id");
			}
					
			if($paged)
			{
				if($limit)
					$q->limit($limit);
				if($offset)
					$q->offset($offset);
			}
				
			$result = $q->execute();
			return ($rel->getType() == Doctrine_Relation::ONE)
					?	$result[0]
					:	$result;
		}
		
		public function findAll($paged=false, $limit=0, $offset=0)
		{
			$q = Doctrine_Query::create()->select("*")->from("{{model}}");
					
			if($paged)
			{
				if($limit)
					$q->limit($limit);
				if($offset)
					$q->offset($offset);
			}
				
			return $q->execute();
		}
		
		public function count()
		{
			return $this->table->count();
		}
		
		public function countRelated($field, ${{object}}_id)
		{
			$related = $this->findRelated($field, ${{object}}_id);
			return get_class($related) != "Doctrine_Collection" ? 1 : $related->count();
		}
	}
?>