<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--
		If you're in a team environment and want to use your own config file,
		create one in this directory called "config-alt.xml" and override the values
		you need to. Take care not to add this file to your source-control system.
	-->

    <!-- path options

        config -> use comments like this
        
    -->

	<paths>
		<config>../config</config>
        <aerial>../lib/php/aerial</aerial>
        <amfphp>../lib/php/amfphp</amfphp>
        <doctrine>../lib/php/doctrine</doctrine>

        <php-models>../src_php/za/co/rsajobs/vo</php-models>
        <php-services>../src_php/za/co/rsajobs/services</php-services>
	</paths>

    <!-- general options -->
    
	<options>
		<debug-mode>true</debug-mode>
		<server-url expose="true"></server-url>
		<use-arraycollection>true</use-arraycollection> <!-- ambiguous, Rob think this should be in .aerial file - to discuss later -->
		<use-authentication>false</use-authentication>
		<timezone>UTC</timezone>
	</options>

    <!-- database options -->

    <database>
        <engine>mysql</engine>
        <host>localhost</host>
        <schema>rsajobs</schema> <!-- rename to schema -->
        <username>rsajobs</username>
        <password>rsajobs</password>
        <port>3306</port>
    </database>

    <!-- authentication options -->

    <authentication>
        <groups>
            <group name="General" role="safe">
            </group>
        </groups>

        <roles>
            <!-- default-rule = if the service/function doesn't appear in the list, apply this rule -->
            <!-- list-rule = if the service/function appears in the list, apply this rule -->
            <role name="safe" default-rule="deny" list-rule="allow">
            </role>
        </roles>
    </authentication>
</config>
