<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--
		If you're in a team environment and want to use your own config file,
		create one in this directory called "config-alt.xml" and override the values
		you need to. Take care not to add this file to your source-control system.
	-->

    <!-- path options -->

	<paths>
		<project></project>
		<config>../config</config>
        <aerial>../lib/php/aerial</aerial>
        <amfphp>../lib/php/amfphp</amfphp>
        <doctrine>../lib/php/doctrine</doctrine>

        <php-models>../src_php/za/co/rsajobs/vo</php-models>
        <php-services>../src_php/za/co/rsajobs/services</php-services>
	</paths>

    <!-- general options -->
    
	<options>
		<debug-mode expose="true">true</debug-mode>
		<server-url expose="true"></server-url>
		<use-arraycollection>true</use-arraycollection>
		<use-authentication>false</use-authentication>
		<timezone>UTC</timezone>
	</options>

    <!-- database options -->

    <database use="development">
        <development>
            <engine>mysql</engine>
            <host>localhost</host>
            <database>rsajobs</database>
            <username>root</username>
            <password>mac150189``</password>
            <port>3306</port>
        </development>
        <production>
            <engine>mysql</engine>
            <host>localhost</host>
            <database></database>
            <username></username>
            <password></password>
            <port>3306</port>
        </production>
    </database>

    <!-- authentication options -->

    <authentication>
        <groups>
            <group name="General" role="safe">
            </group>
        </groups>

        <roles>
            <!-- default-rule = if the service/function doesn't appear in the list, apply this rule -->
            <!-- list-rule = if the service/function appears in the list, apply this rule -->
            <role name="safe" default-rule="deny" list-rule="allow">
            </role>
        </roles>
    </authentication>
</config>
